@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Bold.eot');
	src: local('Raleway Bold'), local('Raleway-Bold'),
		url('Raleway-Bold.eot?#iefix') format('embedded-opentype'),
		url('Raleway-Bold.woff2') format('woff2'),
		url('Raleway-Bold.woff') format('woff'),
		url('Raleway-Bold.ttf') format('truetype'),
		url('Raleway-Bold.svg#Raleway-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Black.eot');
	src: local('Raleway Black'), local('Raleway-Black'),
		url('Raleway-Black.eot?#iefix') format('embedded-opentype'),
		url('Raleway-Black.woff2') format('woff2'),
		url('Raleway-Black.woff') format('woff'),
		url('Raleway-Black.ttf') format('truetype'),
		url('Raleway-Black.svg#Raleway-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}


* {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align: baseline;
  }

.container {
    width: 1054px;
    margin: 0 auto;
}


/* HEADER */

.headerContainer {

    height: 30px;

    background-color: black;
    font-size: 14px;
    color: white;
    clear: both;
  }

.headerLogo {
    float: left;
}

.headerMenu {
    float: right;
    clear: both;
}

ul {
    list-style: none;

}

li {
    display: inline-block;
		margin: 4px;
}


/* SLIDER */

.slider {
    background: linear-gradient(to bottom, rgba(252,252,252,1) 0%, rgba(247,247,247,1) 52%, rgba(240,240,240,1) 78%, rgba(240,240,240,1) 80%);
    height: 300px;

}

.chairImage {
    width: 300px;
    height: 300px;
    background-image: url("../images/black_chair.png");
		background-position: center;
	  float: left;
    clear: both;
	}

.welcomeText {
		text-align: center;
		position: relative;
		

}

.greenButton {
    font-size: 14px;
    color: white;
    background-color: #27c7ab;
		width: 150px;
		height: 40px;
		border-radius: 5px;
		position: absolute;
		top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
		float: left;

}

h2 {
		text-align: center;
}
